 .card-with-bg {
     background-color: $color__background-pre;
     background-image: url(./images/card-bg.png);
     background-repeat: no-repeat;
     border-radius: 15px;
     box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.11);
     padding: 35px 40px;

     & img {
         border-radius: 0 !important;
     }

     @include xl {
         padding: 35px 80px;
     }
 }

 .card {
     border-radius: 15px;
     border: 1px solid $color__secondary;
     margin: 30px auto;
     max-width: 790px;
     padding: 35px 40px;
     width: 100%;

     .wp-block-image {
        flex-shrink: 0;
     }

     img {
         border-radius: 0 !important;
     }

     h2 {
         margin-bottom: 0 !important;
     }

     @include md {
         margin: 50px auto;
     }

     @include xl {
         padding: 50px 90px;
     }
 }