 .card-with-bg {
     background-color: $color__background-pre;
     background-image: url(./images/card-bg.png);
     background-repeat: no-repeat;
     border-radius: 15px;
     box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.11);
     padding: 35px 40px;

     & img {
         border-radius: 0 !important;
     }

     @include xl {
         padding: 35px 80px;
     }
 }

 .card {
     border-radius: 15px;
     border: 1px solid $color__secondary;
     margin-left: auto;
     margin-right: auto;
     max-width: 790px;
     padding: 35px 40px;
     width: 100%;

     & img {
         border-radius: 0 !important;
     }

     @include xl {
         padding: 50px 90px;
     }
 }