.wp-block-details {
	border: 1px solid $color__background-hr;
	border-radius: 10px;
	list-style-type: none;
	padding: 30px;
	position: relative;

	summary {
		color: $color__tertiary;
		font-weight: 500;

		&::before {
			background-image: url(./images/bullet-icon-orange.svg);
			background-repeat: no-repeat;
			content: ' ';
			height: 18px;
			right: 25px;
			position: absolute;
			top: 35px;
			transition: transform 0.2s ease-out;
			width: 18px;
			z-index: 1;
		}

		&::marker {
			content: '';
		}
	}

	&[open] summary::before {
		transform: rotate(90deg);
	}
}
