.external-links {
	margin-top: 20px;

	&-rss,
	&-x-twitter,
	&-pressforward {
		margin-right: 15px;
	}

	&-editors-login {
		font-size: $font-size__m;
		font-variant-caps: all-small-caps;
		color: $color__white;

		&:hover,
		&:visited {
			color: $color__white;
		}

		span {
			display: inline-block;
			line-height: 0.8;
			margin-left: 7px;
			width: 50px;
		}
	}

	.site-header__small & {
		display: none;
	}
}