body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: $font-size__m;
	line-height: $font__line-height-body;
	letter-spacing: 0.08rem;
}

@import "headings";
@import "copy";
