.info-block {
	background-color: $color__link;
	border-radius: 15px;
	box-shadow: 4px 5px 9px rgba(0, 0, 0, 0.09);
	color: $color__white;
	margin-left: auto;
	margin-right: auto;
	max-width: 760px;
	padding: 15px;
	position: relative;
	width: 100%;
	z-index: 10;

	@include xl {
		padding: 15px 30px;
	}

	.wp-block-group {
		gap: 20px;

		@include xl {
			gap: 24px;
		}
	}

	.wp-block-image {
		flex-shrink: 0;
	}

	a {
		color: $color__quaternary;
	}
}
