button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: $color__primary;
	border: none;
	border-radius: 50px;
	color: $color__white;
	cursor: pointer;
	font-size: $font-size__l;
	font-variant-caps: all-small-caps;
	font-weight: 500;
	line-height: 1;
	padding: 15px 40px 18px;
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: $color__primary-dark;
	}

	&.search-button {
		border-radius: 50%;
		padding: 11px 12px;
	}
}

.button,
.wp-block-button {
	font-size: $font-size__l;
	font-variant-caps: all-small-caps;
	font-weight: 500;
	color: $color__white;

	a {
		color: $color__white;
	}
}

.wp-block-button {
	&__link {
		background-color: $color__primary;
		line-height: 1;
		padding: 15px 40px 18px;
		transition: all 0.2s ease-in-out;

		&:hover {
			background-color: $color__primary-dark;
		}

		.is-style-outline & {
			background-color: transparent;
			border: none;
			color: $color__link;
			font-size: $font-size__m;
			font-variant-caps: normal;
			font-weight: 600;
			padding: 0 25px 0 0;
			position: relative;
			text-decoration: underline;

			&:hover {
				background-color: transparent;
			}

			&::after {
				background-image: url(./images/next-arrow.svg);
				background-repeat: no-repeat;
				content: ' ';
				height: 12px;
				position: absolute;
				right: 0;
				top: 3px;
				width: 18px;
			}
		}
	}
}
