.with-sidebar {
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"sidebar"
		"footer";
	grid-template-columns: auto;
	margin: 0 auto;
	max-width: 1024px;

	&.editors-corner-sidebar {
		grid-template-areas:
		"header"
		"sidebar"
		"main"
		"footer";
	}

	@include xl {
		grid-template-areas:
		"header header"
		"main sidebar"
		"footer footer" !important;
		grid-template-columns: auto ($size__site-sidebar);
	}

	.grid-header {
		grid-area: header;
	}

	.grid-main {
		grid-area: main;
		overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */

		@include xl {
			max-width: 630px;
		}
	}

	.widget-area {
		grid-area: sidebar;
	}

	.grid-footer {
		grid-area: footer;
	}
}
