$site-header-height: 90px;

.main-navigation {

	background-color: $color__black-87;
	display: none;
	flex-direction: column;
	height: calc(100vh - #{$site-header-height});
	justify-content: space-between;
	padding: 20px;
	position: absolute;
	top: $site-header-height;
	width: 100%;

	@include xl {
		background-color: transparent;
		display: block;
		height: auto;
		padding: 10px 0;
		position: relative;
		top: initial;
		width: auto;
	}

	&.toggled {
		display: flex;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		gap: 10px;

		ul {
			background-color: transparent;
			border-radius: 15px;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			flex-direction: column;
			float: none;
			gap: 20px;
			height: 0;
			left: -999em;
			overflow: hidden;
			padding: 0;
			position: relative;
			top: 100%;
			width: 100%;
			z-index: 99999;

			@include xl {
				background-color: $color__secondary;
				float: left;
				height: auto;
				padding: 20px 0;
				overflow: auto;
				position: absolute;
				width: auto;

			}

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 320px;
				font-variant-caps: normal;
				font-size: $font-size__s;
				font-weight: 400;
				padding: 15px 20px !important;
			}

			a:hover,
			a.focus {
				text-decoration: underline !important;
			}
		}

		li.focus ul {
			height: auto;
			padding: 0 0 15px 20px;
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&.menu-item-has-children > a::after {
			background: url("./images/chevron-down-icon.svg") no-repeat center;
			content: "";
			display: inline-block;
			height: 8px;
			margin-left: 5px;
			width: 11px;
		}
	}

	ul.menu.nav-menu {
		display: flex;
		flex-direction: column;

		@include xl {
			flex-direction: row;
		}

		> li {

			&::after {
				background-color: rgba($color__white, 0.1);
				border: 1px solid rgba($color__white, 0.3);
				border-radius: 15px;
				content: "";
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				transform: scale(0);
				transition: all 0.2s ease-in-out;
				width: 100%;
				z-index: 0;
			}

			&:hover::after,
			&.focus::after {
				transform: scale(1);
			}

			&.current-menu-item::after,
			&.current-menu-ancestor::after {
				transform: scale(1);
			}
		}

		a {
			display: block;
			line-height: 1;
			text-decoration: none;
			padding: 15px 20px 20px;
			position: relative;
			z-index: 1;
		}

		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
