.widget-area {
	padding-top: 50px;
}

.widget {
	border-radius: 15px;
	box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.11);
	margin: 0 0 1.5em;
	padding: 20px 25px;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}

	.widget-header {
		align-items: flex-start;
		border-bottom: 1px solid $color__primary;
		display: flex;
		padding-bottom: 10px;
		position: relative;
	}

	.wp-block-heading {
		width: 100%;

		a {
			font-size: 1.563rem;;
		}
	}

	img {
		margin-right: 10px;
		border-radius: 0 !important;
	}

	.widget-title {
		margin: 0;
	}

	ul {
		padding: 0;

		li {
			border-bottom: 1px solid $color__background-hr;
			margin-bottom: 15px;
			padding-bottom: 15px;

			&:last-child {
				border-bottom: none;
				margin-bottom: 0;
				padding-bottom: 0;
			}

			&::before {
				content: none;
			}
		}
	}

	a {
		font-size: $font-size__s;
		font-weight: 600;
		text-decoration: none;
		line-height: 1.2;
		display: inline-block;

		&:hover {
			text-decoration: underline;
		}
	}

	&.widget_editors-corner {
		.widget-header::before {
			background-image: url(./images/bullet-icon-orange.svg);
			background-repeat: no-repeat;
			content: ' ';
			height: 18px;
			right: 0px;
			position: absolute;
			transform: rotate(90deg);
			transition: transform 0.2s ease-out;
			width: 18px;
			z-index: 1;

			@include xl {
				content: none;
			}
		}

		.menu-editors-corner-menu-container {
			margin-top: 20px;

			@include xl {
				height: auto;
				overflow: visible;
			}
		}

		&.collapsed {
			.menu-editors-corner-menu-container {
				height: 0;
				overflow: hidden;
				margin-top: 0;
			}

			.widget-header::before {
				transform: rotate(0deg);
			}
		}
	}

	.wp-block-latest-posts {
		&__post-author {
			margin-top: 10px;
			color: $color__black-66;
		}

		&__post-date {
			color: $color__black-66;
		}
	}
}
