$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ededed;
$color__background-button: #e6e6e6;
$color__background-pre: #f9f9f9;
$color__background-ins: #fff9c0;

$color__text-main: #303030;
$color__primary: #ff6b00;
$color__primary-dark: #dc4e00;
$color__secondary: #022a3a;
$color__tertiary: #298094;
$color__quaternary: #fcf5cd;

$color__black: #000;
$color__black-87: #202020;
$color__black-66: #565656;
$color__black-39: #9c9c9c;
$color__black-24: #c2c2c2;
$color__white: #fff;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #00556F; //Midnight-green
$color__link-visited: #00556F; //purple
$color__link-hover: #00556F; //Midnight-green

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
